$font-stack:    Helvetica, sans-serif;
body{ 
  height:700px;
  background-image: url("pizza3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1{
  color:blue;
}
p{
  color:yellow;
}